*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.titulo-section {
    text-align:center;
    margin-bottom: 40px;

}

.titulo-section h2 {
    color: #B05B3B;
    font-size: 4rem;
    margin-bottom: 15px;
    font-weight: 500;
}

.titulo-section p {
    color: #979797;
    font-size: 2rem;
    font-weight: 400;
}

/* === BOTON VOLVER ARRIBA ===  */

.btn-volver-arriba {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 30%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    margin-right: -60px;
    transition: all .4s ease;
}

.btn-volver-arriba a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    text-align: center;
}

.btn-volver-arriba a i {
    font-size: 1.6rem;
    color: #fff;
    line-height: 40px;
}

 /* ============ ENCABEZADO ========== */

.menu-bar-pc {
    width: 100%;
    min-height: 68px;
    border-bottom: 1px solid rgba(255,255,255, 0.15);
    padding: 0 36px;
    background: transparent;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.logo {
    display: inline-block;
    width: 50px;
}

.logo img {
    width: 100%;
    vertical-align: top;
}

.menu-principal a, .top-redes a {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 1.5em;
    transition: all .3s ease;
}

.menu-principal a:last-child, .top-redes a:last-child {
    padding-right: 0;
}

.top-redes a i {
    font-size: 2rem;
}

.menu-principal a:hover, .top-redes a:hover{
    color: #B05B3B;
}

.fixed-header {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid rgba(204,204,204, 0.5);
    padding: 0 36px;
    background: #D79771;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 100;
    transition: all .4s ease;
    margin-top: -68px;
}

.fixed-header .menu-principal a, .fixed-header .top-redes a {
    color: #fff;
}

.fixed-header .menu-principal a:hover, .top-redes a:hover {
    color: #B05B3B;
}


 /* === MOBILE MENU ===  */
.menu-mobile {
    display: none;
}

 /* === MAIN === */

 /* == BANNER PRINCIPAL ==  */

.main {
    width: 100%;
    margin-top: -68px;
}

.main .banner-principal {
    width: 100%;
    position: relative;
}

.main .banner-principal .banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("/assets/banner.jpg");
    position: relative;
}

.main .banner-principal .banner::before {
    background-color: rgb(202 85 5 / 20%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.main .banner-principal .texto-banner{
    display:inline-block;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -60px;
}

.main .banner-principal .texto-banner h2 {
    font-weight: 300;
    color: #fff;
    font-size: 2.4rem;
}

.main .banner-principal .texto-banner h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    margin-bottom: 30px;
}

.main .banner-principal .texto-banner  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    background: #B05B3B;
    color: #fff;
    font-size: 2rem;
    border-radius: 4px;
    transition: all .7s ease;
}

.main .banner-principal .texto-banner  a:hover{
    background: #fff;
    color: #0089E0;
}

/* === PROYECTOS ===  */

.main .proyectos {
    background: #f3f4fa;
    padding: 108px 0 54px 0 ;
    background: rgb(202 85 5 / 10%)
}

.main .proyectos .galeria-proyectos {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 34px;
    border-bottom: 1px solid #ccc;
}

.main .proyectos .galeria-proyectos .proyecto {
    width: 32%;
    margin-bottom: 2%;
    cursor:pointer;
}

.main .proyectos .galeria-proyectos .proyecto img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.main .proyectos .galeria-proyectos .proyecto img:hover {
    transition: .4s ease ;
    transform: scale(1.1);
}
/* === MODAL FOTOS PROYECTOS ===  */
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background: rgba(0,0,0,0.8);
    z-index: 999999;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal img {
    width: 90%;
    max-width: 1024px;
}


.modal .btn-cerrar {
position:fixed;
width: 50px;
height: 50px;
top: 20px;
right: 20px;
background: #0089E0;
text-align: center;
cursor: pointer;
border-radius: 5px;
}

.modal .btn-cerrar i {
    color: white;
    font-size: 2rem;
    line-height: 50px;
}


/* === ACERCA DE === */

.main .acerca-de {
    background: rgb(202 85 5 / 10%);

}

.main .acerca-de .contenedor {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main .acerca-de .contenedor .titulo-section {
    width: 33.33%;
    text-align: left;
}

.main .acerca-de .contenedor .titulo-section h2 {
    margin-bottom: 0;
}

.main .acerca-de .texto-acerca-de {
    width: 66.66%;
    text-align: left;
}

.main .acerca-de .texto-acerca-de p {
    color: #979797;
    font-size: 2rem;
    font-weight: 400;
}

/* === SLIDER ===  */

.main .contenedor-slider {
    width: 100%;
    overflow: hidden;
    background: rgb(202 85 5 / 10%);
    padding: 54px 0;
    position: relative;
}

.main .contenedor-slider .slider {
    width: 400%;
    display:flex;
}

.main .contenedor-slider  .slider .slide {
    width: 15%;
    max-width: 950px;
    margin-right: 0.5%;
    box-shadow: 0px 20px 40px #aaa;
}

.main .contenedor-slider .slider  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.contenedor-slider .btn-anterior, .contenedor-slider .btn-siguiente {
    display:inline-block;
    cursor:pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.contenedor-slider .btn-anterior {
    left: 2%
}

.contenedor-slider .btn-siguiente {
    right: 2%;
}

.contenedor-slider .btn-anterior i , .contenedor-slider .btn-siguiente i {
    font-size: 3rem;
    color: #fff;
}

.contenedor-slider .btn-anterior i:hover , .contenedor-slider .btn-siguiente i:hover {
    color:#0089E0;
}

 /* === NUESTRO EQUIPO === */

.main .nuestro-equipo{
    background: rgb(202 85 5 / 10%);
    padding-top: 54px;
    padding-bottom: 108px;
}

.main .nuestro-equipo .equipo {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .nuestro-equipo .equipo .persona-equipo {
    background: #fff;
    padding: 50px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0, 0.2);
    text-align: center;
}

.main .nuestro-equipo .equipo .persona-equipo .foto {
    width: 50%;
    max-width: 100px;
    display: inline-block;
    margin-bottom: 10px;
}

.main .nuestro-equipo .equipo .persona-equipo .foto img {
    width: 100%;
    border-radius: 100%;
}

.main .nuestro-equipo .equipo .persona-equipo .texto h3 {
    font-size: 2.1rem;
    font-weight: 500;
    color: #0089E0
}

.main .nuestro-equipo .equipo .persona-equipo .texto h4 {
    color: #979797;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.main .nuestro-equipo .equipo .persona-equipo .texto p {
    color: #5a5959;
    font-size: 1.7rem;
    font-weight: 400;
}

.main .nuestro-equipo .equipo .persona-equipo:first-child, .main .nuestro-equipo .equipo .persona-equipo:last-child {
    position:relative;
    top:10px;
}

/* === SECCION INFORMACION EXTRA ===  */

.main .info-extra {
    background: #191919;
    padding: 130px 0;

}

.main .info-extra .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main .info-extra .contenedor .info {
    width: 50%;
}

.main .info-extra .contenedor .info .contenido-info {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.main .info-extra .contenedor .info .contenido-info:first-child {
    margin-bottom: 30px;
}

.main .info-extra .contenedor .info .contenido-info .icono-info {
    width: 5%;
}

.main .info-extra .contenedor .info .contenido-info .icono-info i {
    font-size: 2.4rem;
    color: #fff;
}

.main .info-extra .contenedor .info .contenido-info .texto-info {
    margin-left: 3%;
}

.main .info-extra .contenedor .info .contenido-info .texto-info h4 {
    font-size: 3rem;
    line-height: 2.4rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.main .info-extra .contenedor .info .contenido-info .texto-info p {
    color: #979797;
    font-size: 1.6rem;
    font-weight: 400;
}

.main .info-extra .contenedor .foto {
    width: 50%;
    height: 300px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0, 0.5);
    background-image: url('../assets/info-foto.jpg');
    background-position: center;
    background-size: cover;
}

.main .contacto {
    padding: 190px 0;
    /* background-image: url('../assets/bg-contacto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: rgba(133, 168, 192, 0.2);
}

.main .contacto .contenedor-formulario {
    background: #fff;
    min-height: 485px;
    border-radius: 3px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0, 0.3);
    display:flex;
    justify-content: space-between;
}

.main .contacto .contenedor-formulario .formulario {
    width: 50%;
    padding: 70px
}

.main .contacto .contenedor-formulario .formulario h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: #B05B3B;
    font-weight: 500;
    margin-bottom: 10px;
}

.main .contacto .contenedor-formulario .formulario p {
    color: #979797;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.main .contacto .contenedor-formulario .formulario form input[type="text"], .main .contacto .contenedor-formulario .formulario form input[type="email"] {
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    color: #979797;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.main .contacto .contenedor-formulario .formulario form textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    outline: none;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 88px;
    min-height: 88px;
    color: #979797;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
}

.main .contacto .contenedor-formulario .formulario form input[type="submit"] {
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 8px;
    background-color: #753422;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all .4s ease;
}

.main .contacto .contenedor-formulario .formulario form input[type="submit"]:hover {
    background: #B05B3B;
    color:#fff;
}

.main .contacto .contenedor-formulario .foto {
    width: 50%;
    background-image: url('../assets/contacto.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* === FOOTER ===  */

footer {
    background: rgb(202 85 5 / 10%);
    padding: 54px 0;
    text-align: center;
}

footer .copy {
    color: #979797;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 15px;
}

footer .footer-redes a {
    display: inline-block;
    padding: 0 10px;
    color: #979797;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.5rem;
}

/* === MEDIA QUERIES === */

@media screen and (max-width: 1024px) {
    /* ==NUESTRO EQUIPO== */
    .main .nuestro-equipo .titulo-section {
        margin-bottom: 60px;
    }

    .main .nuestro-equipo .equipo .persona-equipo {
        max-width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    .main .nuestro-equipo .equipo .persona-equipo:first-child {
        top: -10px;
    }

    .main .nuestro-equipo .equipo .persona-equipo .foto {
        margin-right: 20px;
    }

    /* == INFORMACION EXTRA === */

    .main .info-extra .contenedor .info {
        width: 100%;
    }

    .main .info-extra .contenedor .foto {
        display: none;

    }
}

@media screen and (max-width: 900px) {
    /* == ENCABEZADO ==  */
    .menu-bar-pc {
        display:none;
    }

    .menu-mobile {
        display:block;
        width: 100%;
        padding: 5px 18px;
        background: #D79771;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .menu-mobile .barra {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-mobile .barra .logo {
        width: 40px;
    }

    .menu-mobile .barra a i  {
        font-size: 2.2rem;
        color: #fff;
    }

    .menu-mobile .menu-principal {
        width: 100%;
        display:block;
        position: fixed;
        top: 56px;
        left: -100%;
        border-bottom: 1px solid rgba(204,204,204, 0.5);
        border-right: 1px solid rgba(204,204,204, 0.5);
        box-shadow: 0px 1px 5px -1px rgba(0,0,0, 0.2);
        background: #D79771;
        text-align: center;
    }

    .menu-mobile .menu-principal a {
        display:block;
        padding: 10px;
        color: #fff;
        border-bottom: 1px solid rgba(204,204,204, 0.5);
    }

    .menu-mobile .menu-principal a:hover {
        background: #f7f7f7;
    }

    .fixed-header{
        display:none;
    }

    /* == MAIN == */
    .main {
        margin-top: 0;
    }

    /* ==ACERCA DE == */
    .main .acerca-de .contenedor .titulo-section, .main .acerca-de .texto-acerca-de {
        width: 100%;
        text-align: center;
        }

       /* ==CONTACTO== */
    .main .contacto .contenedor-formulario .formulario {
        width: 100%;
        text-align: center;
    }

    .main .contacto .contenedor-formulario .foto {
        display:none;
    }

    .main .contacto .contenedor-formulario .formulario  form input[type="text"], .main .contacto .contenedor-formulario .formulario  form input[type="email"], .main .contacto .contenedor-formulario .formulario  form textarea {
    text-align: center;        
    }
}

@media  screen and (max-width: 550px) {
    
    /* == BANNER PRINCIPAL == */
    .main .banner-principal .texto-banner h1 {
        font-size: 6.4rem;
    }

    /* == TITULOS SECCIONES ==  */
    .titulo-section h2 {
        font-size: 3.4rem;
    }

    /* == PROYECTOS ==  */
    .main .proyectos .galeria-proyectos .proyecto {
        width: 49%;
    }
    
    /* == NUESTRO EQUIPO ==  */
    .main .nuestro-equipo .equipo .persona-equipo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* == INFORMACION EXTRA ==  */
    .main .info-extra .contenedor .info .contenido-info {
        flex-wrap: wrap;
        text-align: center;
    }

    .main .info-extra .contenedor .info .contenido-info .icono-info {
        width: 100%;
        margin-bottom: 25px;
    }

    .main .info-extra .contenedor .info .contenido-info .icono-info i {
        font-size: 5.6rem;
    }

    .main .info-extra .contenedor .info .contenido-info .texto-info {
        margin-left: 0;
    }

    .main .info-extra .contenedor .info .contenido-info .texto-info h4 {
        font-size: 2rem;
    }

    .main .info-extra .contenedor .info .contenido-info:first-child {
        margin-bottom: 40px;
    }
}
